<!DOCTYPE html>
<html>
  <header>
   <center><h3 class="text-light bg-dark", "text-center">LISTA DE ALUMNOS<br>
    <a class="navbar-brand" href="/">REGRESAR</a></h3>
  </header>
  <body background="https://userscontent2.emaze.com/images/5aaa7739-20d4-47e2-ba36-16218294b562/ffca82def668a2a5dc221ddd321b0171.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<table class="table table-ligth">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Primer apellido</th>
      <th scope="col">Segundo apellido</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Edad</th>
      <th scope="col">Sexo</th>
      <th scope="col">Estado</th>
    </tr>
</table>
  </body>
</html>